.productdisplay {
  display: flex;
  margin: 0px 170px;
}
.productdisplay-left {
  display: flex;
  gap: 17px;
}
.productdisplay-img-List {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productdisplay-img-List img {
  height: 143px;
}
.productdisplay-main-img {
  width: 566px;
  height: 619px;
}
.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productdisplay-right h1 {
  color: #ff4545;
  font-size: 30px;
  font-weight: 700;
}
.productdisplay-star-img {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #585858;
  font-size: 14px;
}
.productdisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 15px;
  font-weight: 700;
}
.productdisplay-right-oldprice {
  color: #8c8c8c;
  text-decoration: line-through;
}
.productdisplay-right-newprice {
  color: #219b35;
}
.productdisplay-right-size h1 {
  display: flex;
  margin-top: 55px;
  color: #8c8c8c;
  font-size: 20px;
  font-weight: 600px;
}
.productdisplay-right-size-chart {
  display: flex;
  margin: 30px 0px;
  align-items: center;
  gap: 17px;
}

.productdisplay-right-size-chart div {
  padding: 18px 24px;
  border: #585858 1px solid;
  border-radius: 3px;
  cursor: pointer;
}
.productdisplay-right-size-chart div:hover {
  background: #dddddd;
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}
.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  border-radius: 25px;
  border: none;
  background: #ff4545;
  color: #eaeaea;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-out;
}
.productdisplay-right button:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}
.productdisplay-right-category {
  margin-top: 10px;
}
.productdisplay-right-category span {
  color: #8c8c8c;
}
@media (max-width: 1280px) {
  .productdisplay {
    margin: 0px 60px;
  }
  .productdisplay-left {
    gap: 10px;
  }
  .productdisplay-img-List {
    gap: 10px;
  }
  .productdisplay-img-List img {
    height: 120px;
  }
  .productdisplay-main-img {
    width: auto;
    height: 510px;
  }
  .productdisplay-right {
    margin: 0px 30px;
  }
  .productdisplay-right h1 {
    display: flex;
    font-size: 22px;
  }
  .productdisplay-star-img {
    gap: 3px;
    font-size: 13px;
  }
  .productdisplay-right-prices {
    margin: 10px 0px;
    font-size: 18px;
  }
  .productdisplay-right-discription {
    font-size: 13px;
  }
  .productdisplay-right-size h1 {
    margin-top: 20px;
    font-size: 20px;
  }
  .productdisplay-right-size-chart {
    padding: 14px 20px;
  }
  .productdisplay-right button {
    width: 150px;
    padding: 15px 0px;
    margin-bottom: 20px;
  }
  .productdisplay-right-category {
    margin-top: 5px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .productdisplay {
    margin: 0px 30px;
  }
  .productdisplay-left {
    gap: 5px;
  }
  .productdisplay-img-List img {
    height: 80px;
  }
  .productdisplay-main-img {
    height: 350px;
  }
  .productdisplay-right {
    margin: 0px 30px;
  }
  .productdisplay-right h1 {
    display: flex;
    font-size: 18px;
  }
  .productdisplay-star-img img {
    width: 15px;
  }
  .productdisplay-right-prices {
    margin: 10px 0px;
  }
  .productdisplay-right-discription {
    font-size: 12px;
  }
  .productdisplay-right-size {
    margin-top: 10px 0px;
  }
  .productdisplay-right-size-chart {
    padding: 10px 16px;
    font-size: 12px;
  }
  .productdisplay-right button {
    width: 120px;
    padding: 12px 0px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .productdisplay-right-category {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .productdisplay {
    margin: 0px 10px;
  }
  .productdisplay-left {
    gap: 0px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .productdisplay-img-List {
    flex-direction: row;
    gap: 6px;
  }
  .productdisplay-img-List img {
    height: 70px;
  }
  .productdisplay-main-img {
    height: 300px;
  }
  .productdisplay-right h1 {
    display: flex;
    font-size: 14px;
  }
  .productdisplay-star-img img {
    width: 13px;
  }
  .productdisplay-right-prices {
    margin: 10px 0px;
  }
  .productdisplay-right-discription {
    font-size: 10px;
  }
  .productdisplay-right-size h1 {
    margin-top: 10px 0px;
  }
  .productdisplay-right-size-chart {
    padding: 4px 11px;
  }
  .productdisplay-right button {
    width: 100px;
    font-size: 12px;
  }
  .productdisplay-right-category {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .productdisplay {
    flex-direction: column;
  }
  .productdisplay-left {
    gap: 10px;
    flex-direction: row;
    margin: auto;
  }
  .productdisplay-img-List {
    flex-direction: column;
    gap: 8px;
  }
  .productdisplay-img-List img {
    height: 75px;
  }
  .productdisplay-main-img {
    height: 330px;
  }
  .productdisplay-right {
    margin: 5px;
  }
  .productdisplay-right h1 {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
  }
  .productdisplay-star-img img {
    width: 15px;
  }
  .productdisplay-right-size {
    gap: 10px;
    margin: 20px 0px;
  }
  .productdisplay-right-size-chart {
    margin: 15px 0px;
    padding: 10px 0px;
    font-size: 12px;
    gap: 6px;
  }
  .productdisplay-right button {
    width: 130px;
    font-size: 15px;
    padding: 10px 0px;
  }
  .productdisplay-right-category {
    font-size: 14px;
  }
  .productdisplay-right-prices {
    margin: 8px 0px;
    font-size: 18px;
  }
}
